body {
	background-color: #fbad00;
    background-color: #EA4343;
}

h1 {
	text-align: center;
	font-family: 'Apple Chancery', cursive;
	font-size: 100px;
}

img {
	width: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
	font-family: 'Optima', sans-serif;
	text-align: center; 
}


h2 {
	margin-right: 50px;
	margin-left: 50px; 
	font-family: 'Optima', sans-serif;
}

.top {
	text-align: center; 
}

.column {
	text-align: center; 
	float: left;
	width: 50%;
}

.row:after {
	content: "";
 	display: table;
 	clear: both;
}


#output {
	font-family: 'Optima', sans-serif;
	margin-top: 20px; 
	margin-bottom: 20px;
}

#seventh {
    font-weight: bold; */
    font-family: 'Apple Chancery', cursive;
    text-decoration-line: underline;
}

.finalmsg h2 {
	text-align: center;
	font-family: 'Apple Chancery', cursive;
	padding-bottom: 20px;
}
